<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 2017</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">East West nstitute Of Technology
               </h4>
               <ul>
                <li> East West nstitute  is VTU Affiliated  </li>
                    <li>Completed B.E in Computer Engineering with <b>63.4%</b>.</li>

             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2013</p>
              <div class="h5">Pre-University</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Pre-University</div>
               <h4 class="category">VidyaNikethan pre-university
               </h4>
               <ul>
                <li>
                  The Pre-University was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                     There was also a good base on physics, mathematics and chemistry.
                                  </li>
                                  <li>
                                      Completed my Pre-University with<b> 78%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>